body {
  background-color: transparent;
}

div {
  background: transparent;
}

input[type='button'] {
  color: #333;
  background-color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
}

input[type='button']:focus {
  outline: none
}
input[type='button']:hover {
  background-color: #eee;
}

input[type="text"] {
  border: none;
  border-radius: 5px;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
}
input[type="text"]:focus {
  border-bottom: solid 2px #969696;
}
.badge {
  border: none;
  margin-bottom: 2px;
}
.vec3textbox {
  width: 50px;
  height: 20px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  color: #333;
}
.toggle {
  margin-left: 8px;
}

/* Editor Coloumns*/
#agentsandgroups {
    color: white;
    float:left;
    width:22%;
    background-color: rgba(0,0,0,0.8);
    word-wrap:break-word;
    margin-top: 4%;
    max-height: 500px;
    margin-left: 50px;
    border-radius: 10px;
    overflow-y: auto;
 }

#forcesandmilestones, .list-group {
    color: white;
    float:right;
    width:22%;
    height:100%;
    word-wrap: break-word;
    margin-top: 4%;
    margin-right: 50px;
    border: none;
}
.list-group-item {
  background-color: rgba(0,0,0,0.8);
  border: none;
}
h3 {
  font-family: sans-serif;
  font-weight: 100;
  font-size: 1em;
}
 /* Sections*/
 #attributesList{
    float:left;
    width:100%;
    Height:100%;
 }

 #Milestones { list-style-type: none; margin: 0; padding: 0; width: 100%; }
 #Milestones li { margin: 0 3px 3px 3px; padding: 0; padding-left: 1.5em; padding-top: -1.5em; font-size: 1.4em; height: 18px; }
 #Milestones li span { position: absolute; margin-left: -1.3em; }

 #Forces { list-style-type: none; margin: 0; padding: 0; width: 60%; }
 #Forces li { margin: 0 3px 3px 3px; padding: 0; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
 #Forces li span { position: absolute; margin-left: -1.3em; }

 #AvailableBehMod { list-style-type: none; margin: 0; padding: 0; width: 60%; }
 #AvailableBehMod li { margin: 0 3px 3px 3px; padding: 0; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
 #AvailableBehMod li span { position: absolute; margin-left: -1.3em; }

 .navbar{
     background-color: rgba(0,0,0,0.8);
     border: none;
     color: white;
     width: 95%;
     margin-left: 2.5%;
     padding: 10px 10px;
     border-radius: 5px;
     text-decoration: none;
     font-size: 16px;
     display: inline-block;
     text-align: center;
     margin-top: 0.5%;
 }

/* Elements*/
/*Unordered Lists*/
 li {
    color: grey;
    list-style-type: none;
    width: 100%;
    color: inherit;
    font-size: inherit;
    word-wrap:break-word;
 }
 ul {
      text-align: light;
      width: 100%;
      color: white;
      word-wrap:break-word;
      font-size: 60%;
 }


/* Dropdown menu to work with Awesomium*/
.dropbtn {
 cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
   background-color: #3e8e41;
}

.dropdown {
   position: relative;
   display: inline-block;
}

.dropdown-content {
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   min-width: 160px;
   overflow: auto;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}
